$black: #313131;
$grey: #a9a9a9;
$teal: #0ce5e1;
body {
    margin: 0;
    padding: 0;
    max-width: 360px;
    background-color: $black;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    font-family: 'Roboto', sans-serif;
    color: $black;
    user-select: auto!important;
}
* {
    box-sizing: border-box;
}
:any-link {
    text-decoration: none;
    color: inherit;
  }
h1, h2, h3, h4, h5, h6, .inter {
    font-family: 'Inter', sans-serif;
}
nav {
    display: grid;
    text-align: center;
    background-color: $teal;
    height: 50px;
    align-content: center;
    grid-auto-flow: column;
    grid-template-columns: 24px 1fr;
    padding: 0 1rem;
    border-bottom: 1px solid $black;
    position: sticky;
    top: 0;
    h1 {
        margin: 0;
        margin-left: -24px;
    }
    .navbar-toggler {
        display: grid;
        place-items: center;
        i {
            transition: 1s;
        }
    }
    .navmob {
        position: fixed;
        display: block;
        width: 304px;
        height: 100vh;
        background-color: $teal;
        left: 0;
        transition: 1s;
        z-index: 99;
        top: 50px;
        &.closed {
            left: -304px;
        }
        .navlinks {
            display: grid;
            grid-gap: 1rem;
            justify-content: start;
            padding: 1rem;
            text-align: left;
            a[aria-current] {
                text-decoration: underline;
            }
        }
        #close {
            width: 100vw;
            top: 0;
            height: calc(100vh - 50px);
            position: absolute;
            padding: 0;
            left: 304px;
            opacity: .7;
            background-color: #000;
            transition: opacity 1s;
            &.closed {
                opacity: 0;
            }
        }
    }
}
main {
    text-align: center;
    color: white;
    padding: 2rem;
    display: grid;
    align-content: start;
    justify-items: center;
    h2, h3 {
        margin-top: 0;
    }
    h3 {
        color: hsl(0,0,80)
    }
    img {
        object-fit: cover;
    }
    .info {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: max-content max-content;
        vertical-align: center;
        line-height: 2.25rem;
        text-align: center;
        place-items: center;
        .length, .year {
            border: 2px solid $grey;
            margin: -2px 0;
            padding: 0 1rem;
        }
        .age {
            padding: 0!important;
            border-radius: 50%;
            background-color: #FFCC4A;
            width: 2.25rem;
            font-family: mono-space;
            font-size: 1.25rem;
            color: white;
        }
        .red {
            background-color: #FF5252
        }
        .rating {
            grid-column: span 3;
            padding: 0!important;
            color: #FFCC4A;
            width: calc((1.5rem * 5) + 1rem);
            display: grid;
            place-items: center;
            grid-auto-flow: column;
            .outline {
                color: $grey
            }
        }
    }
    input {
        background-color: hsl(0,0,50);
        border: 0;
        color: white;
        padding: 0.5rem;
        font-size: 1.25rem;
        line-height: 150%;
        width: 100%;
        outline: 0;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: hsl(0,0,75);
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: hsl(0,0,75);
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: hsl(0,0,75);
        }
    }
    .searchResults {
        display: grid;
        grid-gap: 1rem;
        margin-top: 2rem;
        grid-template-rows: repeat(3, 150px);
        &.history {
            grid-template-rows: auto;
            margin: 0;
            h4 {
                margin: 0;
                text-align: left;
                color: hsl(0,0,80)
            }
            .searchItem {
                height: 150px;
            }
        }
        &.watchlist {
            margin-top: 0;
            .container {
                position: relative;
                &.unfavourite {
                    &:before {
                        content: '+';
                    }
                }
                &:before {
                    content: '\2713';
                    position: absolute;
                    right: 0.6rem;
                    top: 0.25rem;
                    font-size: 1.5rem;
                }
            }
        }
        .searchItem {
            overflow: hidden;
            .container {
                background-color: rgba(0,0,0,0.66);
                background-size: cover;
                padding: 0.5rem;
                height: 100%;
                display: grid;
                align-content: start;
                grid-gap: 0.5rem;
                text-align: left;
                h2 {
                    margin: 0;
                }
                p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 0;
                    margin-top: -0.5rem;
                }
            }
            
        }
    }
    &.changeAccount {
        justify-items: start;
        grid-gap: 1rem;
        a {
            text-decoration: underline;
        }
        * {
            margin: 0;
        }
    }
    .bigPlay {
        display: block;
        position: relative;
        i {
            font-size: 60px;
            position: absolute;
            background-color: rgba(0,0,0,0.33);
            height: 150px;
            width: 150px;
            display: grid;
            place-items: center;
            place-content: center;
            left: 0;
            top: 0;
        }
    }
    &.login {
        grid-gap: 2rem;
        form {
            display: grid;
            grid-gap: 1rem;
            justify-items: start;
            label {
                font-size: 1.5rem;
            }
            div {
                display: grid;
                grid-auto-flow: column;
                grid-gap: 1rem;
                input {
                    font-size: 1rem;
                }
            }
        }
    }
}
footer {
    display: grid;
    text-align: center;
    background-color: $teal;
    height: 50px;
    align-content: center;
    grid-auto-flow: column;
    align-self: end;
    padding: 0 1rem;
    position: sticky;
    bottom: 0;
    border-top: 1px solid $black;
}
